# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python ignores
*.pyc
*.p

# misc files
*.h5
*.pdf
.*.swp
.DS_Store
._.DS_Store
._*

# Python dist files
build/
emopt.egg-info/
dist/
docs/build/*
